.is-hidden {
    display: none;
}

.toolbar-icon-admin-toolbar-tools-help:before {
    background-image: url(../images/wieni.svg) !important;
    background-size: 80% !important;

    width: 20px !important;
}


.ajax-progress-throbber .throbber {
    padding: 1px 6px 2px;
}

div[id*="ajax-wrapper"] .messages--error:first-of-type:not(:last-of-type)  {
    display: none;
}


/**
 *  Fixing the toolbar
 */

.toolbar-lining {
    background-color: #ffffff !important;
}

.toolbar-tray a {
    color: #565656 !important;
}