/* ----------------------------------------------------------------------*/
/* - COLORS
/* ----------------------------------------------------------------------*/

$col_darkgrey: #333;
$col_grey: #a6a6a6;
$col_verylightgrey: #f9f9f9;

$col_blue: #0074bd;
$col_lightblue: #3ab2ff;
$col_verylightblue: #c1e0ff;


$col_text: $col_darkgrey;
$col_background: #fff;
$col_links: $col_blue;

